/* Estilos globales */

* {
    scroll-behavior: smooth;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    font-size: 16px;
}

p, a ,h1, h2,h3{ 
    font-style: normal;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

ul{
    padding: 0px;
}


h2{
    font-size: 96px;
    line-height: 96px;
}

h3{
    font-size: 64px;
    line-height: 64px;
    color: #E4FDE1;
    text-transform: uppercase;
    font-weight: 400;
   

}

.hide {
    top: -100vh!important;
}

header,section,main,footer{
    scroll-snap-align: center;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}


section h3 {
    text-align: center;
}


section h3::after{
   content:"";
   display: block;
   border-bottom: 2px solid #E4FDE1;;
   width: 600px;
   margin-top: 50px;
}

section p {    
    font-size: 1.3rem;
    display: block;
    width: 70%;
    text-align: justify;
}


/* Contenido principal */

.outter-wrapper{
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    position: absolute;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style:none;
    scroll-snap-type: x mandatory;
}

.inner-wrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left ;
    width: 700vw;
}
/* Nav */

#nav{
    width: 100vw;
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin: 10px 30px;
}

.logo img{ 
    height: 50px;
    width: auto;
}

.logo img:hover {
    filter: invert(20%);
}

.header{
  background-color: #E4FDE1;
  width: 100vw;
  height: 100vh;
  padding-top: 90px;
}


.menu-btn {
    margin-right: 5vw;
}

.menu-btn a .hammburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 30px;
    transition: all .5s ease;
}
.menu-btn a .hammburger-menu span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(71, 71, 71);
}

.menu-btn a .hammburger-menu:hover {
    transform: rotate(180deg);
}

/* Menu escondido */

.menu{
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #028090;
    z-index: 80;
    transition: all .5s ease;
}

.menu div{  
    width: 50%;
}
.menu ul{
    transform: rotate(-90deg) translateX(-85vh);
    transform-origin: top left;
}

.menu ul li{
    margin: 80px 0;
}
.menu a{
    color: #E4FDE1;
    font-size: 4rem;
    text-transform: uppercase;
}

.exit{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px!important;
    height: 40px;
    background-color: #F45B69;
    color: white;
    border-radius: 50%;
    font-size: 1.4rem;
    top: 80px;
    right: 40px;
    cursor: pointer;
    z-index: 120;
}

@media (max-width: 1150px) { 
    .menu .empty-div {
        display: none;
    }
    .menu .nav-list {
        width: 100%;
        padding: 10vh 5vw;
    }
    .menu ul {
        transform: rotate(0);
    }
    .menu a {
        font-size: 32px;
    }
}

/* Header */

.welcome h1 span{
    display: block;
    color: #028090;
    text-align: center;
    width: 100%;
}

.itakhi{
    font-size: 144px;
    color: #456990;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.taller, .digital{
    font-size: 96px;
}
.taller{
    margin-left: 100px;
}




.cta{
    background-color:#F45B69;
    width: 120px;
    height: 50px;
    border: none;
    box-sizing: border-box;
    margin-left: calc(50% - 50px);
    border-radius: 5%;
    color: #ffff;
    cursor: pointer;
    transition: all .3s ease;
}

.cta:hover{
    background:#456990 ;
}

@media (max-width: 600px) {
    .welcome .itakhi, .welcome .digital, .welcome .taller {
        font-size: 48px;
    }
    .welcome .taller {
        margin-left: 45px;
    }
    .welcome .itakhi {
        margin: 15vh 0;
    }
}
/* About us */

.about-us{
    background-color: #F45B69;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    
}


.about-us .leftside{
    display: flex;
    height: 100vh;
    width: 35vw;
    justify-content: right;
    align-items: center;

    
}

.about-us .leftside h3{
    transform: rotate(-90deg) ;
    margin-left: 150px;
    box-sizing: border-box;
    
}

.about-us .text{
    color: #E4FDE1;
    font-size: 3rem;
}

.about-us .rightside{
    width: 65vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    box-sizing: border-box;
}

.about-us .cta{
    background: #E4FDE1;
    color: black;
    text-transform: uppercase;
    margin: 0;
    width: 140px;
}

.about-us .cta:hover{
    background:#456990;
}

.about-us2 .rightside{
    position: relative;
    display: block;
    padding: 0;
}

.about-us .photo {
    width: 22vw;
    height: 22vw;
    position: absolute;
    overflow: hidden;
}

.photo::before {
    position: absolute;
    display: block;
    margin: 0 10px;
    top: calc(50% - 1.5rem);
    color: white;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
    transition: all .3s ease;
}

.photo::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    transition: all .3s ease;
    cursor: pointer;
}

.photo:hover::after {
    opacity: .4;
}

.photo:hover::before {
    opacity: 1;
}

.photo1{
    background-color: #E4FDE1;
    bottom: 42vh;
    right: 40vw;
    z-index: 10;
}

.photo1::before {
    content: 'Javier Lopez Montoya';
}

.photo2{
    background-color: #456990;
    bottom: 10vh;
    right: 20vw;
    z-index: 11;
}

.photo2::before {
    content: 'Sabri Polanco Ferreyra';
}

.about-us .photo img {
    max-width: 100%;
    object-fit: cover;
}

.photo2 img {
    transform: translateY(-50px);
}

@media (max-width: 820px) {
    .about-us {
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: 100px;
    }
    .about-us .leftside, .about-us .rightside {
        width: 100vw;
    }
    .about-us .leftside {
        height: 30vw;
    }
    .about-us .rightside {
        padding: 0 5vw;
    }
    .about-us .leftside h3 {
        transform: rotate(0);
        font-size: 32px;
        margin: 10vw;
        width: 100%;
    }
    .about-us .leftside h3:after {
        width: 100%;
    }
}


/* Works section */

.work{
    background-color: #456990;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;   
}

.work .rightside h3{
    transform: rotate(90deg) ;
    margin-right: 150px;
    margin-top: 45vh;
    width: 35vw;
    box-sizing: border-box;
}

.work .rightside h3::after {
    margin-left: -10vh;
}

.work .leftside {
    width: 65vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 100px 0 100px;
    box-sizing: border-box;
}

.work .leftside .text {
    height: 60vh;
    box-sizing: border-box;
}

.circles-animation{
    position: relative;
    width: 100%;
    height: 40vh;
    box-sizing: border-box;
}

.circle1{
    position: absolute;
    border-radius: 50%;
    background-color: #028090;
    height: 20vw;
    width: 20vw;
    bottom: 50px;
    left:0px;
    animation: circle-animation 4.5s ease-in-out infinite;
}

.circle2{
    position: absolute;
    border-radius: 50%;
    background-color: #F45B69;
    height: 10vw;
    width: 10vw;
    bottom: 5vh;
    left: 400px;
    animation: circle-animation 3s ease-in-out infinite .5s;
}
.circle3{
    position: absolute;
    border-radius: 50%;
    background-color:#E4FDE1;
    height: 15vw;
    width: 15vw;
    bottom: 18vh;
    left: 600px;
    animation: circle-animation 4s ease-in-out infinite 1s;
}
/* Work together section */

.work-together{
    background-color: #028090;
    width: 100vw;
    height: 100vh;
    padding: 10vh 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-together .left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50vw;
    height: 100%;
}

.work-together .left-side>div {
    height: 7rem;
    overflow-y: hidden;
}

.work-together .left-side h3{
    text-align: left;
    text-transform: lowercase;
    font-size: 7rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #F45B69;
    line-height: 1;
}

.work-together .left-side h3.appear {
    animation: appear 1s ease-in-out;
}

.work-together .left-side h3:after {
    border-bottom: none;
}

@keyframes appear {
    from {
        transform: translateY(7rem);
    } to {
        transform: translateY(0);
    }
}

.work-together .right-side{
    position: relative;
    width: 50vw;
    height: 100%;
    padding: 0 10vw;
    transform: perspective(1000px);
    transform-style: preserve-3d;
}

.work-together .right-side>div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 60px;
    box-sizing: border-box;
    height: 35vh;
    width: 35vh;
    cursor: pointer;
    transition: all .4s ease;
}
.work-together .right-side>div:hover {
    transform: scale(1.1);
}

.work-together .right-side>div h4 { 
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

.work-together .right-side>div p {
    display: none;
}

.work-together .right-side .web-development {
    background-color: #E4FDE1;
    transform: rotate(17deg);
    box-shadow: 1px 1px 8px #000;
}
.work-together .right-side .web-development.fall {
    animation: fall 1.5s linear;
}

.work-together .right-side .web-design {
    top: 30vh;
    right: 2vw;
    background-color: #F45B69;
    transform: rotate(-17deg);
    box-shadow: 3px 3px 8px #000;
}

.work-together .right-side .web-design.fall {
    animation: fall2 1s linear;
}

.work-together .right-side .branding {
    top: 45vh;
    right: 15vw;
    background-color: #456990;
    transform: rotate(5deg);
    box-shadow: 5px 5px 10px #000;
}

.work-together .right-side .branding.fall {
    animation: fall3 .5s linear;
}

.work-together .right-side>div.rotate {
    position: absolute;
    top: 21vh;
    left: 14vw;
    padding: 0;
    transform: rotateY(180deg) translate(0, 0) translateZ(-50px) scale(2.2, 2.5);
    z-index: 25;
    box-shadow: -5px 5px 10px #000;
}

.work-together .right-side>div.rotate h4 {
    display: none;
}

.work-together .right-side>div.rotate p {
    display: block;
    font-size: .8rem;
    transform: rotateY(-180deg);
}

@keyframes fall {
    from {
        transform: translateY(-300vh);
    } to {
        transform: rotate(17deg);  
    }
}
@keyframes fall2 {
    from {
        transform: translateY(-200vh);
    } to {
        transform: rotate(-17deg);  
    }
}
@keyframes fall3 {
    from {
        transform: translateY(-100vh);
    } to {
        transform: rotate(5deg);  
    }
}
/* Contact */

.contact {
    background-color: #000;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 15vh 65vh;
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
    justify-items: center;
    padding: 10vh 5vw;
    box-sizing: border-box;
    overflow: hidden;
}

.contact  h5{
    font-size: 1.6rem;
    color: #E4FDE1;
    text-align: center;
    width: 90%;
}

.form {
    width: 90%;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    justify-items: center;
    grid-row-gap: 40px;
}

input, textarea {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #E4FDE1;
}

input::placeholder,textarea::placeholder, input,textarea{
    color: #E4FDE1;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
}

input:focus, textarea:focus, input:active, textarea:active{
    border: none;
}

.submit-btn{
    background: #E4FDE1;
    color: black;
    text-transform: uppercase;
    margin: 0;
}

.submit-btn:hover{
    background:#F45B69;
}
/* Footer */

footer{
    background-color: #000;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    overflow: hidden;
    box-sizing: border-box;
}

footer a {
    color: #F45B69;
}

.upper-side {
    height: 35%;
    width: 100%;
    padding: 20px 5vw;
}

.upper-side .description {
    font-size: 2rem;
}

.upper-side a {
    font-size: 1.6rem;
}

.lower-side {
    display: flex;
    justify-content: space-between;
    height: 65%;
    width: 100%;
}

.redes-sociales {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: calc(100vw / 3);
    padding: 20px 5vw;
    box-sizing: border-box;
    font-size: 1.6rem;
}

.menu-footer {
    transform: rotate(-90deg);
    padding: 0 50px;
    box-sizing: border-box;
    font-size: 4rem;
    width: calc(100vw / 3);
    height: calc(100vw / 3);
}

.menu-footer a {
    color: white;
    transition: all .3s ease;
}

.menu-footer a:hover {
    opacity: .6;
}

.circulos {
    position: relative;
    width: calc(100vw / 3);
}

.circulos .circulo {
    position: absolute;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background-blend-mode: multiply;
}

.circulos .circulo:nth-of-type(1) {
    background-color: #E4FDE1;
    width: 460px;
    height: 460px;
    animation: circle-animation 3s ease-in-out infinite .5s;
}

.circulos .circulo:nth-of-type(2) {
    background-color: #028090;
    top: -10vh;
    right: 0;
    animation: circle-animation 4.5s ease-in-out infinite;
}

.circulos .circulo:nth-of-type(3) {
    background-color: #456990;
    top: 30vh;
    left: -5vw;
    animation: circle-animation 5s ease-in-out infinite .2s;
}

@keyframes circle-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    } 50% {
        transform: scale(.8);
        opacity: .5;
    } 100% {
        transform: scale(1);
        opacity: 1;
    }
}