/* About us */

.about-us{
    background-color: $red;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    .leftside{
        position: relative;
        display: flex;
        height: 100vh;
        width: 50vw;
        justify-content: right;
        align-items: center;   
        h3{
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: left;
            font-size: 9rem;
            font-weight: 700;
            margin: 0 0 2vw 2vw;
            box-sizing: border-box;            
        }     
    } 
    .rightside{
        width: 50vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0;
        height: 80vh;
        margin-top: 10vh;
        box-sizing: border-box;
        border-left: 3px solid $yellow;
        .text{
            font-size: 3rem;
            text-align: left;
            text-transform: uppercase;
            font-weight: 700;
            padding: 0 15%;
        }
    }  
    &.about-us2 {
        .leftside {
            justify-content: left;
            padding-left: 2vw;
            .text {
                text-transform: uppercase;
                text-align: left;
                font-size: 5rem;
                line-height: 1;
                padding: 0 15%;
            }
        }
        .rightside{
            position: relative;
            display: block;
            padding: 0;
            border: none;
            .photo {
                width: 45vh;
                height: 45vh;
                position: absolute;
                overflow: hidden;
                img {
                    max-width: 100%;
                    object-fit: cover;
                }
                a {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    z-index: 15;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    padding: 0 15px;
                    background-color: rgba($color: #000000, $alpha: .5);
                    color: white;
                    font-size: 2rem;
                    text-align: center;
                    opacity: 0;
                    transition: all .2s linear;
                    span {
                        font-size: 1rem;
                        &:hover {
                            opacity: .7;
                            font-size: 1.1rem;
                            font-weight: bold;
                        }
                    }
                }
                &:hover a {
                    opacity: 1;
                    text-decoration: none;
                }
                &.photo1 {
                    background-color: $yellow;
                    bottom: 32vh;
                    right: 12vw;
                    z-index: 10;
                }
                &.photo2 {
                    background-color: $purple;
                    bottom: -5vh;
                    right: 30vw;
                    z-index: 11;
                    img {
                        transform: translateY(-50px);
                    }
                }
            }
        }
        #javier-info p, #sabri-info p {
            position: relative;
            width: 90%;
            margin: 5%;
            top: 40vh;
            padding: 10px 20px;
            z-index: 999;
        }
        #javier-info p {
            background-color: white;
        }
        #sabri-info p {
            background-color: $yellow;
        }
        @media (max-width: 1100px) {
            .leftside {
                width: 50vw;
            }
            .rightside {
                width: 50vw;
                .photo {
                    height: 30vh;
                    width: 30vh;
                    &::before {
                        top: 32%;
                        font-size: 1.4rem;
                    }
                    &.photo1 {
                        right: 20vw;
                    }
                    &.photo2 {
                        right: 10vw;
                        bottom: 16vh;
                    }
                }
            }
        }
    }
    @media (max-width: 820px) {
        flex-direction: column;
        justify-content: center;
        padding-top: 60px;
        .leftside, .rightside {
            width: 100vw;
        }
        .leftside {
            height: 30vw;
            h3 {
                transform: rotate(0);
                font-size: 32px;
                margin: 10vw;
                width: 100%;
                &:after {
                    width: 100%;
                }
            }
        }
        .rightside {
            padding: 0 5vw;
            .text {
                font-size: 2rem;
                margin: 8vh 0;
            }
        }
        &.about-us2 {
            .leftside {
                width: 100vw;
            }
            .rightside {
                width: 100vw;
                height: 70vh;
                .photo1 {
                    bottom: 35vh;
                    left: 15vw;
                }
                .photo2 {
                    bottom: 10vh;
                    right: 10vw;
                }
                #javier-info p, #sabri-info p {
                    top: -10vh;
                }
            }
        }
    }
}