/* Estilos globales */

* {
    scroll-behavior: smooth;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    font-size: 16px;
    p, a ,h1, h2,h3{ 
        font-style: normal;
        font-weight: normal;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    
    li{
        list-style: none;
    }    
    ul{
        padding: 0px;
    }
    h1 {
        font-size: 10rem;
        text-transform: uppercase;
    }    
    h2{
        font-size: 2.5rem;
        line-height: normal;
        text-transform: uppercase;
    }
    
    h3{
        font-size: 64px;
        line-height: 1;
        color: #E4FDE1;
        text-transform: uppercase;
        font-weight: 400;
       
    
    }
    
    .hide {
        top: -100vh!important;
    }
    
    header,section,main,footer{
        scroll-snap-align: center;
        box-sizing: border-box;
    }
    
    ::-webkit-scrollbar{
        display: none;
    }
    
    
    section {
        h3 {
            text-align: center;
        }
        p {    
            font-size: 1.6rem;
            display: block;
            text-align: justify;
        }
    }
    /* Contenido principal */

    .outter-wrapper{
        transform: rotate(-90deg) translateX(-100vh);
        transform-origin: top left;
        position: absolute;
        width: 100vh;
        height: 100vw;
        overflow-x: hidden;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style:none;
        scroll-snap-type: x mandatory;
        .inner-wrapper{
            position: relative;
            display: flex;
            flex-direction: row;
            transform: rotate(90deg) translateY(-100vh);
            transform-origin: top left ;
            width: 700vw;            
        }
    }
    .cta{
        background-color:$red;
        width: 140px;
        height: 50px;
        border: none;
        box-sizing: border-box;
        margin-left: calc(50% - 50px);
        font-size: .8rem;
        border-radius: 5%;
        color: white;
        cursor: pointer;
        transition: all .3s ease;
        &:hover{
            background: $purple;
        }
    }
}