/* Work together section */

.work-together{
    background-color: $green;
    width: 100vw;
    height: 100vh;
    padding: 10vh 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .left-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 50vw;
        height: 100%;
        &>div {
            height: 7rem;
            overflow-y: hidden;
            h3{
                text-align: left;
                text-transform: lowercase;
                font-size: 7rem;
                font-weight: bold;
                padding: 0;
                margin: 0;
                color: $red;
                line-height: 1;
                &.appear {
                    animation: appear 1s ease-in-out;
                }
                &:after {
                    border-bottom: none;
                }
            }
        }
    }
    .right-side{
        position: relative;
        width: 50vw;
        height: 100%;
        padding: 0 10vw;
        transform: perspective(1000px);
        transform-style: preserve-3d;
        &>div {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            padding: 60px;
            box-sizing: border-box;
            height: 35vh;
            width: 35vh;
            cursor: pointer;
            transition: all .4s ease;
            h4 { 
                font-size: 1.5rem;
                text-align: center;
                text-transform: uppercase;
            }            
            p {
                display: none;
            }            
            &:hover {
                transform: scale(1.1);
            }
            &.web-development {
                background-color: $yellow;
                transform: rotate(17deg);
                &.fall {
                    animation: fall 1.5s linear;
                }                
            }
            &.web-design {
                top: 30vh;
                right: 2vw;
                background-color: $red;
                transform: rotate(-17deg);
                &.fall {
                    animation: fall2 1s linear;
                }
            }
            &.branding {
                top: 45vh;
                right: 15vw;
                background-color: $purple;
                transform: rotate(5deg);
                &.fall {
                    animation: fall3 .5s linear;
                }
            }
            &.rotate {
                position: absolute;
                top: 21vh;
                left: 14vw;
                padding: 0;
                transform: rotateY(180deg) translate(0, 0) translateZ(-50px) scale(2.2, 2.5);
                z-index: 25;
                h4 {
                    display: none;
                }                
                p {
                    display: block;
                    font-size: .8rem;
                    padding: 0 15%;
                    transform: rotateY(-180deg);
                }
            }
        }
    }
    @media (max-width: 1200px) {
        .right-side>div.rotate {
            left: 0;
        }
    }
    @media (max-width: 880px) {
        display: flex;
        flex-direction: column;
        .left-side, .right-side {
            width: 100%;
        }
        .left-side {
            height: 25%;
            &>div {
                width: 100%;
                h3 {
                    font-size: 2rem;
                    text-align: center;
                    width: 100%;
                }
            }
        }
        .right-side {
            height: 75%;
            &>div {
                height: 20vh;
                width: 20vh;
                h4 {
                    font-size: 1rem;
                }
                &.rotate {
                    left: 22vw;
                }
                &.web-development {
                    top: 15vh;
                }
                &.rotate p {
                    font-size: .4rem;
                }
            }
        }
    }
}
